@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}


header{
    background-color: rgba(229, 84, 115, 0.10);
}

.container{
    width: 75%;
    max-width: 1440px;
    margin: 0 auto;
    align-items: center;
    justify-content: end;
}

.container .header-text *{
    margin: 20px 0;
}

.divide {
    display: flex;
}

.container .header-text h1{
    width: 700px;
    color: #272727;
    font-family: "Lato", sans-serif;
    font-size: 80px;
    font-weight: 800;
}

.container .header-text p{
    width: 630px;
    color: rgba(39, 39, 39, 0.60);
    font-family: "Lato", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.container .header-text button{
    padding: 20px 43px;
    font-family: "Lato" sans-serif;
    border-radius: 6px;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    background: #E55473;
    border: none;
    cursor: pointer;
}


.container .header-img img{
    display: flex;
    row-gap: 1;
}



/* our feature section start */


.container .our-feature{
    margin-top: 180px;
}

.container .our-feature h1{
    color: #272727;
    text-align: center;
    font-family: "Lato" sans-serif;
    font-size: 40px;
    font-weight: 800;
    text-align: center;
    margin: 20px 0;
}


.container .our-feature p{
    width: 590px;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: "Lato", sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin: 0 auto;
    line-height: 30px;
}




.flower-content {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: end;
    margin-top: 50px;
}


.flower-content .flower .flower-img {
    background-color: rgba(167, 33, 98, 0.15);
    border-radius: 300px 300px 0px 0px;
    padding: 30px 15px 0;
    height: 500px;
    width: 400px;
    display: flex;
    align-items: end;
}

.flower-content .flower .flower-img img{
    width: 100%;
}

.flower-content .flower p{
    color: #272727;
    text-align: center;
    font-family: "Lato", sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
    margin-top: 16px;
}


    /* our services section start */

.container .service {
    width: 100%;
    height: 320px;
    border-radius: 3px;
    background: rgba(39, 39, 39, 0.05);
}


.services-divided {
    display: flex;
    align-items: center;
}


.service .service-content{
    text-align: center;
    margin: 0 auto;
}

.service {
    margin-top: 130px;
}


.service .service-content p{
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-family: "Lato", sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 35px;
    margin-top: 25px;
}



/* hot deal section start */


.hot-deal {
    background: rgba(229, 84, 115, 0.05);
    height: 520px;
    margin-top: 130px;
}

.hotdeal-divide {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.hotdeal-content .hotdeal-text h1{
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
}




.hotdeal-content .hotdeal-text p{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    margin-top: 10px;
    font-weight: 400;
    line-height: 30px;
}

.hotdeal-content .hotdeal-text h1 .important{
    color: #E55473;
}

.hotdeal-content .hotdeal-text button{
    padding: 20px 43px;
    font-family: "Lato" sans-serif;
    border-radius: 6px;
    margin-top: 20px;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    background: #E55473;
    border: none;
    cursor: pointer;
}

.hotdeal-content .hotdeal-text {
    text-align: center;
    width: 70%;
}



.hotdeal-content {
    width: 75%;
    max-width: 1440px;
    margin: 0 auto;
    align-items: center;
    justify-content: end;
    padding: 100px 0;
}

.hotdeal-content .hotdeal-img{
    max-height: 318px;
}



    /* instagram section start */





.container .instagram-text {
    text-align: center;
    margin-top: 120px;
}

.container .instagram-text h1{
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
}

.container .instagram-text p{
    margin: 0 auto;
    width: 594px;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}


.container .instagram-img {
    margin-top: 55px;
}

.instagram-img img{
    padding: 0 5px;
}



    /* latest deal start */



.deals-img {
    width: 75%;
    max-width: 1440px;
    margin: 0 auto;
    align-items: center;
    justify-content: end;
    background-image: url("./images/Rectangle\ 9.png");
    height: 450px;
    background-repeat: no-repeat;
    margin-top: 130px;
}



.deals-img .latest-deals{
    text-align: center;
    padding: 120px;
}


.deals-img .latest-deals h1{
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
}


.deals-img .latest-deals p{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: "Lato", sans-serif;
    margin-top: 15px;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.deals-img .latest-deals input{
    margin-top: 40px;
    width: 700px;
    height: 65px;
    padding: 10px;
    color: rgba(39, 39, 39, 0.60);
    font-family: "Lato", sans-serif;
    font-size: 16px;
    outline: none;
    font-weight: 400;
    border-radius: 5px;
    border: none;

}


.deals-img .latest-deals button{
    padding: 20px 43px;
    font-family: "Lato" sans-serif;
    border-radius: 6px;
    margin-top: 20px;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    background: #E55473;
    border: none;
    cursor: pointer;
    margin: 0 10px;
}




/* footer section start */


.footer-container {
    background-color: #111010;
    margin-top: 120px;
}


.flower-shop {
    text-align: center;
    padding: 120px;
}

.footer-container .flower-shop h1{
    color: #E55473;
    font-family: 'Lato',sans-serif;
    font-size: 48px;
    font-weight: 800;
}

.footer-container .flower-shop .flower-content{
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-family: "Lato", sans-serif;
    padding: 22px 0;
    width: 625px;
    margin: 0 auto;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.footer-container .flower-shop .flower-content2{
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    margin-top: 18px;
    font-family: 'Lato',  sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 80px;
}

